<div class="row">
	<div class="col-md-8 col-md-offset-2">
		
		<form class="form-inline" ng-submit="AllReportSubmit()" name="AllReportForm">
			<div class="form-group">
				<label class="sr-only" for="selectUser">User</label>
				<select class="form-control" id="selectUser" ng-model="selectUser" ng-options="users.id as users.name for users in getAllUsersRecords" required>
					<option value="">Select User</option>
				</select>
			</div>
			<div class="form-group">
				<label class="sr-only" for="startDate">Start Date</label>
				<p class="input-group">
					<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="startDateopened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" id="startDate" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="startDateopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>

			<div class="form-group">
				<label class="sr-only" for="endDate">End Date</label>
				
				<p class="input-group">
					<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="endDateopened" min-date="minEndDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" id="endDate" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="endDateopen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>

			<button type="submit" class="btn btn-default">Submit</button>
			
		</form>
	</div>
</div>

<div class="row" ng-if="AllReportForm.$submitted">
	<div class="col-md-8 col-md-offset-2">
		<h2>Data Between {{UpdatedstartDate | date : 'yyyy-MM-dd'}} and {{UpdatedendDate | date : 'yyyy-MM-dd'}}</h2>
		<!-- <h3>Number of Days : {{totalDaysSearchedFor}}</h3> -->

		<div class="table-responsive">

			<table class="table">
				<tr>
					<th>Date</th>
					<th>ATTASK ID</th>
					<th>Project Name</th>
					<th>Description</th>
					<th>Project Status</th>
					<th>Time Spent</th>
				</tr>
				<tr ng-repeat="records in getGraphRecords"
				ng-if="records.ATtask_id != null">
				<td>{{records._date}}</td>
				<td>{{records.ATtask_id}}</td>
				<td>{{records.project_name}}</td>
				<td>{{records.description}}</td>
				<td>{{records.project_status}}</td>
				<td>{{records.time_spent}}</td>
			</tr>
		</table>

	</div><!--end table-responsive-->


</div>
</div>