<div class="row search">
    <div class="col-md-3 col-md-offset-2">
      <form class="form-horizontal">
           <input type="text" class="form-control" id="search" placeholder="search" ng-model="searchDailyReport.$">
      </form>
    </div>

    <div class="col-md-6 col-md-offset-1">
       <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-print"></span> Print</button>
       <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-export"></span> Export to Excel</button>
       <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-send"></span> Send Email</button>

    </div>

</div><!-- End .row -->

<div class="row">
  <div class="col-md-2 col-md-offset-3 text-center">
    <button ng-click="previousDate(dateDropDownInput)" class="btn btn-default" type="button">Previous Day</button>
  </div>

  <div class="col-md-2 text-center">
    <div class="dropdown">
    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
      <input type="text" class="date-picker" data-ng-model="dateDropDownInput">
    </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker data-ng-model="dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day'  }"/>
      </ul>
    </div>
  </div>

  <div class="col-md-2 text-center">
    <button ng-click="nextDate(dateDropDownInput)" ng-class="{'disabled': nextDatestatus}" class="btn btn-default" type="button">Next Day</button>
  </div>
</div>


<div class="row">
<div class="col-md-8 col-md-offset-2">

<div class="table-responsive">
    
    <table class="table table-bordered">
      <thead>
        <tr>
            <th width="5%">#</th>
            <th width="20%">Name</th>
            <th>Details</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="(key, value) in getDailyReportInformation | groupBy : 'name' | filter :searchDailyReport">

            <td>{{ $index + 1 }}</td>
            <td>{{ key | capitalize }}</td>
            <td>
              <div ng-repeat="task_performed in value">
                <p ng-if="task_performed.ATtask_id != null">
                  <strong>AT-{{ task_performed.ATtask_id }} : {{ task_performed.project_name }}</strong> - {{ task_performed.description }} - <strong>Time Spent : {{ task_performed.time_spent }}</strong>
                </p>
                <p ng-if="task_performed.ATtask_id == null">
                  On Leave
                </p>
              </div>
            </td>
        </tr>

      </tbody>
    </table>

</div><!-- End table-responsive-->

<get-statistics dateToGetInformation="{{dateDropDownInput}}"></get-statistics>

</div><!-- End col class -->

</div><!--End .row-->