<div class="row search">
  <div class="col-md-3 col-md-offset-2">
    <form class="form-horizontal">
     <input type="text" class="form-control" id="search" placeholder="search" ng-model="searchDailyReport">
   </form>
 </div>

 <div class="col-md-3 col-md-offset-2">
   <button class="btn btn-default pull-right" type="button"><span class="glyphicon glyphicon-send"></span> Send Email</button>
 </div>

</div><!-- End .row -->

<div class="row well" data-spy="affix" data-offset-top="250">
  <div class="col-md-2 col-md-offset-2">
    <button ng-click="previousDate(dateDropDownInput)" ng-class="{'disabled': previousDatestatus}" class="btn btn-default" type="button">Previous Day</button>
  </div>

  <div class="col-md-4">
    <p class="input-group">
      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateDropDownInput" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>


  <div class="col-md-2">
    <button ng-click="nextDate(dateDropDownInput)" ng-class="{'disabled': nextDatestatus}" class="btn btn-default pull-right" type="button">Next Day</button>
  </div>
</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2">


    <accordion>

      <accordion-group is-open="status.isFirstOpen" class="panel-info">
      <accordion-heading>
      Daily Report <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i>
    </accordion-heading>
    
    <div class="table-responsive">
      
      <table class="table">
        <thead>
          <tr>
            <th width="5%">#</th>
            <th width="20%">Name</th>
            <th>Details</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="(key, value) in getDailyReportInformation | groupBy : 'name'">

            <td>{{ $index + 1 }}</td>
            <td>{{ key | capitalize }}</td>
            <td>
              <div ng-repeat="task_performed in value">
                <p ng-if="task_performed.ATtask_id != null">
                  <strong>AT-{{ task_performed.ATtask_id }} : {{ task_performed.project_name }}</strong> - {{ task_performed.description }} - <strong>Time Spent : {{ task_performed.time_spent }}</strong>
                </p>
                <p ng-if="task_performed.ATtask_id == null" class="text-danger">
                  On Leave
                </p>
              </div>
            </td>
          </tr>

        </tbody>
      </table>

    </div><!-- End table-responsive-->


  </accordion-group>

</accordion>


<get-statistics dateToGetInformation="{{dateDropDownInput}}"></get-statistics>

<!-- Bar graph information -->
<d3-graph datetogetinformation="{{dateDropDownInput}}" graphname="User V/s Time Spent"></d3-graph>
<!-- End bar graph -->

</div><!-- End col class -->

</div><!--End .row-->