<div class="row search">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-horizontal">
           <input type="text" class="form-control input-lg" id="search" placeholder="search">
      </form>
    </div>
</div><!-- End .row -->

<div class="row">

<div class="col-md-8 col-md-offset-2">
{{users}}
<div class="table-responsive">
    
    <table class="table table-bordered">
      <thead>
        <tr>
            <th width="5%">#</th>
            <th width="15%">Date</th>
            <th width="65%">Deails</th>
            <th width="15%">Time Spent</th>
        </tr>
      </thead>

      <tbody>
        <tr>
            <td>1</td>
            <td>6th Feb 2015</td>
            <td>
              <p>1) AT-123456 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. <strong>4 Hrs</strong></p>
              <p>2) AT-654321 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. <strong>4 Hrs</strong></p>
            </td>
            <td>8</td>
        </tr>

        <tr>
            <td>1</td>
            <td>6th Feb 2015</td>
            <td>
              <p>1) AT-123456 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. <strong>4 Hrs</strong></p>
              <p>2) AT-654321 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. <strong>4 Hrs</strong></p>
            </td>
            <td>8</td>
        </tr>

        <tr>
            <td>1</td>
            <td>6th Feb 2015</td>
            <td>
              <p>1) AT-123456 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. <strong>4 Hrs</strong></p>
              <p>2) AT-654321 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. <strong>4 Hrs</strong></p>
            </td>
            <td>8</td>
        </tr>

        <tr>
            <td>1</td>
            <td>6th Feb 2015</td>
            <td>
              <p>1) AT-123456 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. <strong>4 Hrs</strong></p>
              <p>2) AT-654321 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. <strong>4 Hrs</strong></p>
            </td>
            <td>8</td>
        </tr>

        <tr>
            <td>1</td>
            <td>6th Feb 2015</td>
            <td>
              <p>1) AT-123456 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. <strong>4 Hrs</strong></p>
              <p>2) AT-654321 - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. <strong>4 Hrs</strong></p>
            </td>
            <td>8</td>
        </tr>
      </tbody>  
    </table>

</div><!-- End table-responsive-->


</div><!-- End col class -->

</div><!--End .row-->