<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">My Task details so far...</h2>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <table class="table table-striped">
            
            <thead>
              <tr>
                <th width="5%">#</th>
                <th width="15%">Date</th>
                <th width="65%">Deails</th>
                <th width="15%">Time Spent</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="value in getUserRecords track by $index">
                <td>{{ $index + 1 }}</td>
                <td>{{ value.mydate | date : 'longDate' }}</td>
                <td>
                  <p ng-repeat="completetaskdetails in value.completetaskdetails track by $index">
                    {{completetaskdetails}}
                  </p>
                </td>
                <td align="center">
                 {{ value.total_timespent }}
               </td>
             </tr>
             
           </tbody>  
           
         </table>


       </div><!-- End table-responsive-->

     </div>
   </div>


<button type="button" class="btn btn-primary btn-lg btn-block"  ng-show="has_more()" ng-click="show_more()"><i class="icon-plus icon-white"></i>Show More</button>

</div><!-- End col class -->

</div><!--End .row-->