<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3>ToDo</h3>
		<p>List of Bugs, ToDo's and Ideas for Daily report in no particular order</p>

		<ul>
			<li>Bugs</li>
			<ul>
				<li>
					<strike>Disable future dates in the datepicker module in the Diaily Report page</strike>
					<p><strong>Update : 02 March 2015e</strong> => Changed the datepicker module to use angular-ui datepicker directive. The week number were being displayed incorrectly, changed the code on the main file with help from <a href="https://github.com/angular-ui/bootstrap/pull/2517/commits">here</a>. Details of issue can be found <a href="https://github.com/angular-ui/bootstrap/pull/2517">here</a>.
				</li>
				<li>On Change of date, Ajax is called twice, fix it.</li>
				<li>
					Daily report page - Work on the search functionaily. Also work on <strike>print</strike>, <strike>export to excel</strike> and most importantly work on the send to email functionality.
					<p><strong>Update : 02 March 2015</strong> => Print and Export to excel not required. Will consider in the next release possibly taking inputs from users.</p>

				</li>
				<li>Daily report page : work on the Total hours table</li>
				<li>My Task page : Work on pagination. Work on the Search functionality and search by date functionality.</li>
				<li>AtTask page : Upon submit of, return the focus to the first input so that if the user wants to enter another task, it becomes easier</li>
				<li>AT-Task page : On Edit, sroll up page so that user gets information in the form.</li>
				<li>Animate when user clicks on delete. Make it interactive.</li>
				<li>Work on the reports page</li>
			</ul>
			<li>Ideas</li>
			<ul>
				<li>Introduce D3 Chart library</li>
				<li>On Add Task page, create a dynamic chart on Task Id v/s Time spent.</li>
				<li>Graph of AT-Task ID v/s Time for a period selected.</li>
				<li>Daily report - Users v/s Time spent on that particular day</li>
				<li>Reports page : TBD</li>

			</ul>

		</ul>
	</div>	

</div>