<footer class="footer text-center" role="contentinfo">
  <div class="container">
    
    <p>Daily Report project is created, written and maintained by ilaxmidhar. It is built using various technologies, my attempt to learn and understand various programming languages.</p>
    <p>Daily report is a simpel reporting tool with user login, post of data and retrieve of data. It is an attempt to understaind how single page applications work. I have used all awesome tools, frameworks, libraries listed below.</p>
    <p>Sublime text 3, WAMP server, PHP, MySql, Angular js, Bootstrap, jQuery</p>
    <p><a href="#/todo">todo</a></p>
    
  </div>
</footer>