<accordion>

    <accordion-group is-open="status.isFirstDisabled" class="panel-info">
        <accordion-heading>
            Statistics <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstDisabled, 'glyphicon-chevron-right': !status.isFirstDisabled}"></i>
        </accordion-heading>
        
        <div class="table-responsive">
    
        <table class="table">
          <thead>
            <tr>
                <th width="5%">#</th>
                <th width="30%">Role</th>
                <th width="50%">Hours</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="statistics in getStatisticsToDispaly">
                <td>{{ $index + 1 }}</td>
                <td>{{ statistics.role_name }} <strong>({{ statistics.count }})</strong></td>
                <td>{{ statistics.Total_Hours }}</td>
            </tr>
            <tr class="success">
              <td colspan="2" class="text-center">Total Hours</td>
              <td>{{getStatisticsToDispaly | sumFilter : 'Total_Hours'}}</td>
            </tr>

          </tbody>
        </table>

      </div><!-- End table-responsive-->

    </accordion-group>

</accordion>