<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Statistics</h3>
  </div>
  
  <div class="panel-body">
    
      <div class="table-responsive">
    
        <table class="table">
          <thead>
            <tr>
                <th width="5%">#</th>
                <th width="30%">Role</th>
                <th width="50%">Hours</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="statistics in getStatisticsToDispaly">
                <td>{{ $index + 1 }}</td>
                <td>{{ statistics.role_name }} <strong>({{ statistics.count }})</strong></td>
                <td>{{ statistics.Total_Hours }}</td>
            </tr>
            <tr class="success">
              <td colspan="2" class="text-center">Total Hours</td>
              <td>{{getStatisticsToDispaly | sumFilter : 'Total_Hours'}}</td>
            </tr>

          </tbody>
        </table>

      </div><!-- End table-responsive-->



  </div>
</div>



