<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">Daily Report</a>
      <p class="navbar-text" display-date></p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/home"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> {{ username | capitalize }}</a></li>
        <li><a href="#/MyTask"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> My Tasks</a></li>
        <li><a href="#/DailyReport"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Daily Report</a></li>
        <li><a href="#/AllReports"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Reports</a></li>
        <li><a href="server/logout.php"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>